%div(class="changelog")
  != render :_change, :locals => { :change => @change }

%hr

%p(class="front-buttons")
  %a(href="http://feeds.feedburner.com/TimelessRepo" class="d") Subscribe to the feed
  %a(href="/timeless" class="a") What kind of blog is this really?
  %a(href="#index" class="b") Check out all the articles below &darr;
  %a(href="/changelog" class="c") Have a look at the recent changes
  %div(style="clear:both")
  %p(style="clear:both")

%hr

%h2 All articles

%nav(class="index" id="index")
  - entry_index.each do |entries|
    %div(class="column")
      %ul
        - entries.each do |entry|
          %li
            %a{:href => entry.url}
              = entry.title
              %p= entry.subtitle
  %div(style="clear:both")

