!!!
%head
  %meta(charset="utf-8")
  %title Timeless from Magnus Holm
  /[if lt IE 9]
    %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
  %link{:rel => "stylesheet", :href => R(Stylesheet)}

%body(class=main_class)
  %header(class="main")
    %h1
      %a{:href => R(Index)}
        Magnus Holm's <strong>timeless</strong> repository
  
  %article
    != yield
    
    %footer
      %p
        2010 ©
        %a(href="http://judofyr.net/") Magnus Holm
        —
        %a{:href => R(Entry, 'comments')} Leave a comment
      
