!!!
%head
  %meta(charset="utf-8")
  %title
    - if respond_to?(:title)
      = title
      —
    Timeless
  /[if lt IE 9]
    %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  %link{:rel => "alternate", :type => "application/atom+xml",
    :href => "/changelog.xml", :title => "Atom Feed"}
  %link{:rel => "feed", :type => "application/atom+xml",
    :href => "/changelog.xml", :title => "Atom Feed"}
  %link{:rel => "stylesheet", :href => '/style.css'}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-132467-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


%body(class=main_class)
  %header(class="main")
    %h1
      %a{:href => R(Index)}
        The <strong>timeless</strong> repository

  %article
    != yield

    %footer
      %p
        = Time.now.year
        —
        All content is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
        —
        %a{:href => R(Entry, 'comments')} Leave a comment

